aniso8601==3.0.2
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
colorama==0.4.0
Flask==1.0.2
Flask-RESTful==0.3.6
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.3.0
oauthlib==2.1.0
pluggy==0.8.0
py==1.7.0
PySocks==1.6.8
pytest==3.8.2
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
tweepy==3.6.0
urllib3==1.23
Werkzeug==0.14.1
